.container{
  color:inherit;
}
.jumbotron{
  color: white;
  margin-top: 30px;
}
ul{list-style-type: none;}

.nav-ul {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  overflow: hidden;
  background-color: lightslategray;
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
}

.nav-li a:hover {
  background-color: #489580;
  color: inherit;
  font-style: italic;
}

.well{
  background-color: inherit;
  margin: 30px;
}

.panel{
background-color: lightslategray;
}
.emphasis{
  color: goldenrod;
  font-style: italic;
}
.contact{
font-size: x-large;
}
.contact a{
  color: inherit;
}

.btn{
  border-radius: 75%;
}
.btn:hover{
  background-color: goldenrod;
}
.headshot{
  float: right;
  width: 25%;
  margin: 30px;
}
.active {
  background-color: #489580;
}

.quote{
  text-align: right;
}