.jumbotron{
  background-color: #FDE2AA;
  margin: 0;
  background-image: url(img/bridge.jpg); 
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

ul{list-style-type: none;}

.nav-ul {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  overflow: hidden;
  background-color: #676953;
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
}

.nav-li a:hover {
  background-color: #FDE2AA;
  color: black;
}

.well{
  background-color: #FDE2AA;
  margin: 30px;
}
.emphasis{
  color: goldenrod;
  font-style: italic;
}