.jumbotron{
  color: white;
}
ul{list-style-type: none;}

.nav-ul {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  overflow: hidden;
  background-color: lightslategray;
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
}

.nav-li a:hover {
  background-color: grey;
  color: black;
}

.well{
  background-color: grey;
  margin: 30px;
}

.panel{
background-color: lightslategray;
}
.emphasis{
  color: goldenrod;
  font-style: italic;
}